* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.table {
    width: 331px;
    position: absolute;
    top: 20px;
    margin-left: -165px;
    left: 50%;
    border-bottom: 1px solid #ccc;
}

.table .line-data:hover {
    background-color: rgb(199, 199, 199);
}

.table li {
    height: 30px;
    line-height: 30px;
}

.line-head {
    cursor: pointer;
    background-color: rgb(221, 243, 250);
}

.common {
    text-align: center;
    border: 1px solid #ccc;
    /* border-top: none; */
    border-bottom: none;
}

.cb {
    width: 30px;
}

.cb input {
    cursor: pointer;
}

.no {
    width: 40px;
}

.name {
    width: 100px;
}

.age {
    width: 50px;
}

.profess {
    width: 110px;
}

.brn {
    border-right: none;
}
