.container {
    border: 1px solid #ccc;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

img {
    width: 100px;
    position: absolute;
    transition: all 0.5s;
}