* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: lightblue
}

.bg {
    width: 400px;
    height: 400px;
    background-color: #ddd26c;
    margin: 10px auto;
    outline: 1px solid #b3aa62;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.container {
    outline: 1px solid rgb(41, 41, 41);
    position: relative;
}

.fl {
    float: left;
}

.container li {
    width: 24px;
    height: 24px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    float: left;
}

.container li:nth-child(14n) {
    border-right: none;
}

.container li:nth-child(n + 183) {
    border-bottom: none;
}

.chess {
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    margin-left: -9px;
    margin-top: -9px;
    font-size: 12px;
}

.chess-white {
    background-color: #FFF;
}
.chess-black {
    color: #FFF;
    background-color: #000;
}
/* 隐藏棋子的文字 */
.chess-hw {
    text-indent: -9999px;
    overflow: hidden;
}

.win {
    border: 2px solid red;
}

button {
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.dn {
    display: none;
}

.db {
    display: block;
}